@media (max-width: 300px) {
    .input-group {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 640px) {
    h1 { font-size: 28px; }
    footer > a { font-size: 16px; }
    .icon { font-size: 20px; }
    .input-group > p,
    .input-group > input { font-size: 14px; }
    .input-group > button { font-size: 16px; }
    .video-card {
        grid-template-columns: 300px 1fr;
        align-items: center;
    }
}

@media (min-width: 992px) {
    p { font-size: 20px; }
    h1 { font-size: 30px; }
    h2 { font-size: 25px; }
    h3 { font-size: 22px; }
    .input-group > p,
    .input-group > input { font-size: 15px; }
    .input-group > button { font-size: 17px; }
}

@media (min-width: 1280px) {
    .container { max-width: 600px; }
    p { font-size: 21px; }
    h3 { font-size: 23px; }
}